---

- name: "cert-openssl-certificate: Generate a Self Signed OpenSSL certificate."
  openssl_certificate:
    acme_accountkey_path: "{{ item.acme_accountkey_path|default(omit) }}"
    acme_chain: "{{ item.acme_chain|default(omit) }}"
    acme_challenge_path: "{{ item.acme_challenge_path|default(omit) }}"
    attributes: "{{ item.attributes|default(omit) }}"
    backup: "{{ item.backup|default(certificate_backup_conf) }}"
    csr_path: "{{ certificate_dir_csr }}/{{ item.csr }}"
    entrust_api_client_cert_key_path: "{{ item.entrust_api_client_cert_key_path|default(omit) }}"
    entrust_api_client_cert_path: "{{ item.entrust_api_client_cert_path|default(omit) }}"
    entrust_api_key: "{{ item.entrust_api_key|default(omit) }}"
    entrust_api_specification_path: "{{ item.entrust_api_specification_path|default(omit) }}"
    entrust_api_user: "{{ item.entrust_api_user|default(omit) }}"
    entrust_cert_type: "{{ item.entrust_cert_type|default(omit) }}"
    entrust_not_after: "{{ item.entrust_not_after|default(omit) }}"
    entrust_requester_email: "{{ item.entrust_requester_email|default(omit) }}"
    entrust_requester_name: "{{ item.entrust_requester_name|default(omit) }}"
    entrust_requester_phone: "{{ item.entrust_requester_phone|default(omit) }}"
    extended_key_usage: "{{ item.extended_key_usage|default(omit) }}"
    extended_key_usage_strict: "{{ item.extended_key_usage_strict|default(omit) }}"
    force: "{{ item.force|default(omit) }}"
    group: "{{ item.group|default(certificate_group) }}"
    has_expired: "{{ item.has_expired|default(omit) }}"
    invalid_at: "{{ item.invalid_at|default(omit) }}"
    issuer: "{{ item.issuer|default(omit) }}"
    issuer_strict: "{{ item.issuer_strict|default(omit) }}"
    key_usage: "{{ item.key_usage|default(omit) }}"
    key_usage_strict: "{{ item.key_usage_strict|default(omit) }}"
    mode: "{{ item.mode|default(certificate_file_mode) }}"
    not_after: "{{ item.not_after|default(omit) }}"
    not_before: "{{ item.not_before|default(omit) }}"
    ownca_create_authority_key_identifier: "{{ item.ownca_create_authority_key_identifier|default(omit) }}"
    ownca_create_subject_key_identifier: "{{ item.ownca_create_subject_key_identifier|default(omit) }}"
    ownca_digest: "{{ item.ownca_digest|default(omit) }}"
    ownca_not_after: "{{ item.ownca_not_after|default(omit) }}"
    ownca_not_before: "{{ item.ownca_not_before|default(omit) }}"
    ownca_path: "{{ item.ownca_path|default(omit) }}"
    ownca_privatekey_passphrase: "{{ item.ownca_privatekey_passphrase|default(omit) }}"
    ownca_privatekey_path: "{{ item.ownca_privatekey_path|default(omit) }}"
    ownca_version: "{{ item.ownca_version|default(omit) }}"
    owner: "{{ item.owner|default(certificate_owner) }}"
    path: "{{ certificate_dir_certs }}/{{ item.crt }}"
    privatekey_passphrase: "{{ item.passphrase |default(omit) }}"
    privatekey_path: "{{ certificate_private_dir }}/{{ item.private }}"
    provider: "{{ item.provider |default(certificate_default_provider) }}"
    select_crypto_backend: "{{ item.backend|default(certificate_default_backend) }}"
    selevel: "{{ item.selevel|default(omit) }}"
    selfsigned_create_subject_key_identifier: "{{ item.selfsigned_create_subject_key_identifier|default(omit) }}"
    selfsigned_digest: "{{ item.selfsigned_digest|default(omit) }}"
    selfsigned_not_after: "{{ item.selfsigned_not_after|default(omit) }}"
    selfsigned_not_before: "{{ item.selfsigned_not_before|default(omit) }}"
    selfsigned_version: "{{ item.selfsigned_version|default(omit) }}"
    serole: "{{ item.serole|default(omit) }}"
    setype: "{{ item.setype|default(omit) }}"
    seuser: "{{ item.seuser|default(omit) }}"
    signature_algorithms: "{{ item.signature_algorithms|default(omit) }}"
    state: "{{ item.state|default(omit) }}"  # default: present
    subject: "{{ item.subject|default(omit) }}"
    subject_alt_name: "{{ item.subject_alt_name|default(omit) }}"
    subject_alt_name_strict: "{{ item.subject_alt_name_strict|default(omit) }}"
    unsafe_writes: "{{ item.unsafe_writes|default(omit) }}"  # default: false
    valid_at: "{{ item.valid_at|default(omit) }}"
    valid_in: "{{ item.valid_in|default(omit) }}"
    version: "{{ item.version|default(omit) }}"
  register: certificate_result_certificate
  loop: "{{ certificate_data }}"
  loop_control:
    label: " file:{{ certificate_dir_certs }}/{{ item.crt }} CN:{{ item.CN|default('UNDEFINED') }}"
  no_log: "{{ not certificate_debug_classified|bool }}"
  when: not ansible_check_mode

- name: "cert-openssl-certificate: Display information on OpenSSL X.509 certificates."
  debug:
    var: certificate_result_certificate
  when:
    - certificate_debug_classified|bool
    - certificate_result_certificate is defined

# EOF
...
