---

- name: "cert-openssl-privatekey-info: Get information on OpenSSL private keys."
  openssl_privatekey_info:
    passphrase: "{{ item.passphrase | default(omit) }}"
    path: "{{ certificate_private_dir }}/{{ item.private }}"
    select_crypto_backend: "{{ item.backend|default(certificate_default_backend) }}"
    return_private_key_data: "{{ item.return_private_key_data|default(omit) }}"  # default: false
  register: certificate_result_privatekey_info
  loop: "{{ certificate_data }}"
  no_log: "{{ not certificate_debug_classified|bool }}"
  when: not ansible_check_mode

- name: "cert-openssl-privatekey-info: Display information on OpenSSL private keys."
  debug:
    var: certificate_result_privatekey_info
  when:
    - certificate_debug_classified|bool
    - certificate_result_privatekey_info is defined

# EOF
...
